<div id="footer" class="text-center" [ngClass]="{'bg-[#1b1b1b]': isProjectDetailsRoute(), 'bg-[#111111]': !isProjectDetailsRoute()}">
  <div class="container">
    <div class="socials-media text-center">
      <ul class="list-unstyled">
        <li><a href="https://forge.univ-lyon1.fr/p2103919"><i class="bi bi-gitlab"></i></a></li>
      </ul>
    </div>

    <p>&copy; Copyrights Viggo Casciano. All rights reserved.</p>

    <div class="credits">
      Designed by Viggo Casciano
    </div>
  </div>
</div><!-- End Footer -->
