#about {
    width: 100%;
    height: auto;
    padding-top: 120px;
  }
  .paddsection-1-dark{
    padding-top: 90px;
    padding-bottom: 90px;
    background: #1b1b1b;  
  }
  .paddsection-2{
    padding-top: 90px;
    padding-bottom: 90px;
    background: #fff;  
  }
  .paddsection-2-dark{
    padding-top: 90px;
    padding-bottom: 90px;
    background: #111111;  
  }
  
  #about .div-img-bg-dark{
    padding-bottom: 30px;
    border: 20px solid #553755;
  }
  #about .div-img-bg-dark .about-img img {
    width: 100%;
    box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
    margin-top: -60px;
    margin-left: 40px;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  #about .about-descr .p-heading {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    text-align: left;
  }
  
  #about .about-descr .separator {
    max-width: 80%;
    margin-bottom: 0;
    text-align: left;
  }
  .viggo_span-dark{
    color:#f39ef3;
  }

  .download-button {
    display: flex;
    margin-top: 1.5vh;
  }
  
  .download-button .download-button-container {
    display: flex;
    align-items: center;
    padding: 1em;
    border: 2px solid #69069e;
    border-radius: 50px;
    color: #69069e;
    transition: all linear .3s;
  }
  
  .download-button .download-button-container-dark {
    display: flex;
    align-items: center;
    padding: 1em;
    border: 2px solid #553755;
    border-radius: 50px;
    color: #f39ef3;
    transition: all linear .3s;
  }
  
  .download-button .download-button-container-dark i {
    margin-left: .4vw;
    transition: all linear .3s;
  }
  
  .download-button .download-button-container-dark:hover {
    border: 2px solid #c580c5;
    background-color: #69069e;
    color: #ffffff;
  }
  
  .download-button .download-button-container-dark:hover i {
    transform: translateX(5px);
    transition: transform 0.3s ease;
  }
  
  @media (max-width: 990px) {
    .download-button {
      display: flex;
      justify-content: center;
      margin-top: 1.5vh;
    }
  }


  @media (min-width: 768px) and (max-width: 991px) {

    .head-info .header-content .cmaster h1 {
      font-size: 32px;
    }
  
    #about .div-img-bg {
      padding: 0;
    }
  
    #about .div-img-bg-dark{
      padding: 0;
    }
    #about .div-img-bg-dark .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
    #about .div-img-bg .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
  
    #about .about-descr .p-heading {
      font-size: 20px;
    }
  
    #about .about-descr .separator {
      max-width: 100%;
      margin-bottom: 0;
    }
  }

  @media (max-width: 767px) {
  
    .head-info .header-content h1 {
      font-size: 32px;
    }
  
    #about .div-img-bg {
      padding: 0;
    }
  
    #about .div-img-bg .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
  
    #about .div-img-bg-dark{
      padding: 0;
    }
    #about .div-img-bg-dark .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
  
    #about .about-descr .p-heading {
      font-size: 20px;
    }
  
    #about .about-descr .separator {
      max-width: 100%;
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 600px) {
  
    .head-info .header-content h1 {
      font-size: 32px;
    }
  
    #about .div-img-bg {
      padding: 0;
    }
  
    #about .div-img-bg .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
  
    #about .div-img-bg-dark{
      padding: 0;
    }
    #about .div-img-bg-dark .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
  
    #about .about-descr .p-heading {
      font-size: 20px;
    }
  
    #about .about-descr .separator {
      max-width: 100%;
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 480px) {
    .head-info .header-content h1 {
      font-size: 32px;
    }
  
    #about .div-img-bg {
      padding: 0;
    }
  
    #about .div-img-bg .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
    #about .div-img-bg-dark{
      padding: 0;
    }
    #about .div-img-bg-dark .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
  
    #about .about-descr .p-heading {
      font-size: 20px;
    }
  
    #about .about-descr .separator {
      max-width: 100%;
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 320px) {
    .head-info .header-content h1 {
      font-size: 32px;
    }
  
    #about .div-img-bg {
      padding: 0;
    }
  
    #about .div-img-bg .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
  
    #about .div-img-bg-dark{
      padding: 0;
    }
    #about .div-img-bg-dark .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
  
    #about .about-descr .p-heading {
      font-size: 20px;
    }
  
    #about .about-descr .separator {
      max-width: 100%;
      margin-bottom: 0;
    }
  }