<header id="header" [ngClass]="{'header-dark': true,'header-inner-pages': isDetailPage,'fixed-top': !isDetailPage}">
  <div class="container d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo"><img id="logo_img" src="assets/img/logo-dark.png" alt="" class="img-fluid"></a>

    <nav id="navbar" class="navbar">
      <ul class="ul-dark">
        <li><a class="nav-link nav-dark scrollto" [ngClass]="{'active': !isDetailPage}" href="/#hero">Accueil</a></li>
        <li><a class="nav-link nav-dark scrollto" href="/#about">À Propos</a></li>
        <li><a class="nav-link nav-dark scrollto" [ngClass]="{'active': isDetailPage}" href="/#portfolio">Projets</a></li>
        <li><a class="nav-link nav-dark scrollto" href="/#techno">Technologies</a></li>
        <li><a class="nav-link nav-dark scrollto" href="/#skills">Compétences</a></li>
        <li><a class="nav-link nav-dark scrollto" href="/#resume">Historique</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->
