<section id="techno" class="techno techno-dark">
    <div class="container" data-aos="fade-up">
      <div class=" text-center" style="padding-top:10vh">
        <h2 class="h2-dark" style="margin-bottom: 3vh;">Technologies</h2>
        <p>Voici les technologies que je maîtrise grâce à mon apprentissage : à l'IUT, en entreprise, en autodidacte.</p>
        <div class="container-button-techno">
          <div class="button-techno-dark techno-selected-dark">Langages</div>
          <div class="button-techno-dark">Frameworks</div>
          <div class="button-techno-dark">Databases</div>
          <div class="button-techno-dark">DevTools</div>
          <div class="button-techno-dark">DevOps</div>
        </div>
      </div>
  
      <div class="container-techno">
        <div [@detailVisibility]="isTechnoVisible(0) ? 'visible' : 'hidden'" id="techno-language">
          <div class="container-bloc-techno">
            <a class="bloc-techno-dark bloc-techno" href="https://www.python.org/">
              <p>Python</p>
              <i class="devicon-python-plain colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://www.rust-lang.org/">
              <p>Rust</p>
              <i class="devicon-rust-plain colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://developer.mozilla.org/en-US/docs/Web/HTML">
              <p>HTML</p>
              <i class="devicon-html5-plain colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://developer.mozilla.org/en-US/docs/Web/CSS">
              <p>CSS</p>
              <i class="devicon-css3-plain colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
              <p>JS</p>
              <i class="devicon-javascript-plain colored"></i>
            </a>
          </div>
        </div>
         <div [@detailVisibility]="isTechnoVisible(0) ? 'visible' : 'hidden'" id="techno-language">
            <div class="container-bloc-techno">
              <a class="bloc-techno-dark bloc-techno" href="https://www.java.com/en/">
                <p>Java</p>
                <i class="devicon-java-plain colored"></i>
              </a>
              <a class="bloc-techno-dark bloc-techno" href="https://www.w3schools.com/c/index.php">
                <p>C</p>
                <i class="devicon-c-plain colored"></i>
              </a>
              <a class="bloc-techno-dark bloc-techno" href="https://www.php.net/">
                <p>PHP</p>
                <i class="devicon-php-plain colored"></i>
              </a>
              <a class="bloc-techno-dark bloc-techno" href="https://www.typescriptlang.org/">
                <p>Typescript</p>
                <i class="devicon-typescript-plain colored"></i>
              </a>
            </div>
          </div>
  
        <div [@detailVisibility]="isTechnoVisible(1) ? 'visible' : 'hidden'" id="techno-framework" style="display: none;">
          <div class="container-bloc-techno">
            <a class="bloc-techno-dark bloc-techno" href="https://www.djangoproject.com/">
              <p>Django</p>
              <i class="devicon-django-plain colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://tauri.app/">
              <p>Tauri</p>
              <i class="devicon-tauri-plain colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://expressjs.com/">
              <p>Express.js</p>
              <i class="devicon-express-original colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://angular.dev/">
              <p>Angular</p>
              <i class="devicon-angularjs-plain colored"></i>
            </a>                  
          </div>
        </div>
  
        <div [@detailVisibility]="isTechnoVisible(2) ? 'visible' : 'hidden'" id="techno-database" style="display: none;">
          <div class="container-bloc-techno">
            <a class="bloc-techno-dark bloc-techno" href="https://www.mysql.com/">
              <p>MySQL</p>
              <i class="devicon-mysql-plain colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://www.mongodb.com/">
              <p>MongoDB</p>
              <i class="devicon-mongodb-plain colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://www.sqlite.org/index.html">
              <p>SQLite</p>
              <i class="devicon-sqlite-plain colored"></i>
            </a>                  
          </div>
        </div>
  
        <div [@detailVisibility]="isTechnoVisible(3) ? 'visible' : 'hidden'" id="techno-devtool" style="display: none;">
          <div class="container-bloc-techno">
            <a class="bloc-techno-dark bloc-techno" href="https://git-scm.com/">
              <p>Git</p>
              <i class="devicon-git-plain colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://github.com/">
              <p>GitHub</p>
              <i class="devicon-github-original colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://about.gitlab.com/">
              <p>GitLab</p>
              <i class="devicon-gitlab-plain colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://www.linux.org/">
              <p>Linux</p>
              <i class="devicon-linux-plain colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://www.microsoft.com/software-download/windows11">
              <p>Windows</p>
              <i class="devicon-windows8-original colored"></i>
            </a>                  
          </div>
        </div>
  
        <div [@detailVisibility]="isTechnoVisible(4) ? 'visible' : 'hidden'" id="techno-devops" style="display: none;">
          <div class="container-bloc-techno">
            <a class="bloc-techno-dark bloc-techno" href="https://www.docker.com/">
              <p>Docker</p>
              <i class="devicon-docker-plain colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://docs.gitlab.com/ee/ci/">
              <p>CI/CD</p>
              <i class="devicon-gitlab-plain colored"></i>
            </a>
            <a class="bloc-techno-dark bloc-techno" href="https://www.sonarsource.com/products/sonarqube/">
              <p>SonarQube</p>
              <i class="devicon-sonarqube-plain colored"></i>
            </a>                  
          </div>
        </div>
      </div>
    </div>
  </section>
  