  .skills-dark{
    background-color: #111111;
    padding-bottom: 3vh;
  }  
  .skill-dark{
    margin-top: 3vh;
    border: #f39ef3 solid 2px;
    background-color: #1b1b1b;
    padding: 10px;
    border-radius: 10px;
  }
  
  .titre-skill-dark {
    color: #f39ef3;
    font-size: 22px;
    font-weight: 700;
  }
  .titre-skill-dark {
    color: #f39ef3;
    font-size: 22px;
    font-weight: 700;
  }
  .getMoreDetails{
    width: 100%;
  }
  
  .full-width-table {
    width: 100%;
    border-collapse: collapse; /* Pour enlever les espaces entre les cellules */
  }
  
  .full-width-table th, .full-width-table td {
    border: 1px solid #ddd; /* Bordure pour les cellules */
    padding: 8px; /* Espacement à l'intérieur des cellules */
  }
  
  .full-width-table th {
  
    text-align: left; /* Alignement du texte */
  }
  
  .showDetail{
    text-decoration: underline;
  }
  .showDetail:hover{
    cursor: pointer;
  }