<section id="skills" class="skills skills-dark">
    <div class="container" data-aos="fade-up">
      <div class="section-title text-center" style="padding-top:10vh">
        <h2 class="h2-dark">Compétences</h2>
        <p>Voici une présentation des différentes aptitudes que j'ai pu obtenir durant mes années à l'IUT.</p>
      </div>
  
      <section id="skillSae">
        <h3 class="text-center">Compétences Acquises grâce aux Saé académiques et à mon experience professionel:</h3>
        <div class="row">
          <div class="col-lg-4 col-md-6 ">
            <div class="skill-dark">
              <h4 class="titre-skill-dark" style="text-align: center;">Réaliser <i class="bi bi-cpu"></i></h4>
              <p>Développer, concevoir, coder, tester et intégrer une solution informatique pour un client ou un employeur.</p>
              <p class="showDetail" (click)="toggleDetail(detail1, $event)">Afficher plus de détails</p>
              <div class="getMoreDetails" style="display: none;" #detail1>
                <table class="full-width-table">
                  <tr>
                    <th>Semestres</th>
                    <th>Description</th>
                  </tr>
                  <tr>
                    <td>1 & 2</td>
                    <td>Développer des applications informatiques simples.</td>
                  </tr>
                  <tr>
                    <td>2 & 3</td>
                    <td>Partir des exigences et aller jusqu'à une application complète.</td>
                  </tr>
                  <tr>
                    <td>5 & 6</td>
                    <td>Adapter des applications sur un ensemble de supports (embarqué, web, mobile, IoT...)</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6">
            <div class="skill-dark">
              <h4 class="titre-skill-dark" style="text-align: center;">Optimiser <i class="bi bi-braces-asterisk"></i></h4>
              <p>Proposer des applications informatiques optimisées en fonction de critères spécifiques: temps d'exécution, précision, consommation de ressources..</p>
              <p class="showDetail" (click)="toggleDetail(detail2, $event)">Afficher plus de détails</p>
              <div class="getMoreDetails" style="display: none;" #detail2>
                <table class="full-width-table">
                  <tr>
                    <th>Semestres</th>
                    <th>Description</th>
                  </tr>
                  <tr>
                    <td>1 & 2</td>
                    <td>Appréhender et construire des algorithmes.</td>
                  </tr>
                  <tr>
                    <td>2 & 3</td>
                    <td>Sélectionner les algorithmes adéquats pour répondre à un problème donné.</td>
                  </tr>
                  <tr>
                    <td>5 & 6</td>
                    <td>Analyser et optimiser des applications.</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6">
            <div class="skill-dark">
              <h4 class="titre-skill-dark" style="text-align: center;">Administrer <i class="bi bi-person-gear"></i></h4>
              <p>Déployer, configurer, rendre disponible, assurer la maitenance en conditions opérationneles des infrastructures, des services et des réseaux informatiques, et améliorer la performance globale du système informatique d'une organisation.</p>
              <p class="showDetail" (click)="toggleDetail(detail3, $event)">Afficher plus de détails</p>
              <div class="getMoreDetails" style="display: none;" #detail3>
                <table class="full-width-table">
                  <tr>
                    <th>Semestres</th>
                    <th>Description</th>
                  </tr>
                  <tr>
                    <td>1 & 2</td>
                    <td>Installer et configurer un poste de travail.</td>
                  </tr>
                  <tr>
                    <td>2 & 3</td>
                    <td>Déployer des services dans une architecture réseau.</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6">
            <div class="skill-dark">
              <h4 class="titre-skill-dark" style="text-align: center;">Gérer <i class="bi bi-hourglass"></i></h4>
              <p>Concevoir, gérer, administrer et exploiter les données de l'entreprise et mettre à disposition toutes les informations pour un bon pilotage de l'entreprise.</p>
              <p class="showDetail" (click)="toggleDetail(detail4, $event)">Afficher plus de détails</p>
              <div class="getMoreDetails" style="display: none;" #detail4>
                <table class="full-width-table">
                  <tr>
                    <th>Semestres</th>
                    <th>Description</th>
                  </tr>
                  <tr>
                    <td>1 & 2</td>
                    <td>Concevoir et mettre en place une base de données à partir d'un cahier des charges client.</td>
                  </tr>
                  <tr>
                    <td>2 & 3</td>
                    <td>Optimiser une base de données, interagir avec une application et mettre en oeuvre la sécurité.</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6">
            <div class="skill-dark">
              <h4 class="titre-skill-dark" style="text-align: center;">Conduire <i class="bi bi-compass"></i></h4>
              <p>Satisfaire les besoins des utilisateurs au regard de la chaîne de valeur du client, organiser et piloter un projet informatique avec des méthodes classiques ou agiles.</p>
              <p class="showDetail" (click)="toggleDetail(detail5, $event)">Afficher plus de détails</p>
              <div class="getMoreDetails" style="display: none;" #detail5>
                <table class="full-width-table">
                  <tr>
                    <th>Semestres</th>
                    <th>Description</th>
                  </tr>
                  <tr>
                    <td>1 & 2</td>
                    <td>Identifier les besoins métiers des clients et des utilisateurs.</td>
                  </tr>
                  <tr>
                    <td>2 & 3</td>
                    <td>Appliquer une démarche de suivi de projet en fonction des besoins métiers des clients et des utilisateurs.</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6">
            <div class="skill-dark">
              <h4 class="titre-skill-dark" style="text-align: center;">Collaborer <i class="bi bi-emoji-laughing"></i></h4>
              <p>Acquérir, développer et exploiter les aptitudes nécessaires pour travailler efficacement dans une équipe informatique.</p>
              <p class="showDetail" (click)="toggleDetail(detail6, $event)">Afficher plus de détails</p>
              <div class="getMoreDetails" style="display: none;" #detail6>
                <table class="full-width-table">
                  <tr>
                    <th>Semestres</th>
                    <th>Description</th>
                  </tr>
                  <tr>
                    <td>1 & 2</td>
                    <td>Identifier ses aptitudes pour travailler dans une équipe.</td>
                  </tr>
                  <tr>
                    <td>2 & 3</td>
                    <td>Situer son rôle et ses missions au sein d'une équipe informatique.</td>
                  </tr>
                  <tr>
                    <td>5 & 6</td>
                    <td>Manager une équipe informatique.</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  