<div id="services" class="services">
    <div class="container">
      <div class="services-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="services-block services-block-dark">
              <i class="bi bi-browser-chrome"></i>
              <span class="span">Développeur Web</span>
              <p class="separator">Développeur Web passionné par l'innovation et l'expérience utilisateur</p>
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="services-block services-block-dark">
              <i class="bi bi-body-text"></i>
              <span class="span">JAVA, C, Rust & Python</span>
              <p class="separator">Expérimenté en Java, C, Rust et Python, avec un fort accent sur Python et Rust. Compétent dans la création de solutions logicielles efficaces</p>
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="services-block services-block-dark">
              <i class="bi bi-android"></i>
              <span class="span">Développeur ANDROID</span>
              <p class="separator">Développeur Android en devenir avec une expérience pratique dans la création de jeux Android simples et non commerciaux.</p>
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="services-block services-block-dark">
              <i class="bi bi-server"></i>
              <span class="span">Languages de Base de Données</span>
              <p class="separator">Compétent en langages de base de données comme SQL et NoSQL, avec un accent sur la conception et l'optimisation des structures de bases de données.</p>
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="services-block services-block-dark">
              <i class="bi bi-braces-asterisk"></i>
              <span class="span">Code Optimisé</span>
              <p class="separator">Concentré sur l'écriture de code efficace et optimisé pour améliorer les performances et l'expérience utilisateur.</p>
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="services-block services-block-dark">
              <i class="bi bi-boxes"></i>
              <span class="span">Modélisation 3D par code</span>
              <p class="separator">Passionné par la modélisation 3D via le code avec Three.js, transformant des idées créatives en expériences visuelles interactives.</p>
            </div>
          </div><!-- End testimonial item -->
        </div>
        <div class="swiper-pagination swiper-dark"></div>
      </div>
    </div>
  </div><!-- End Services Section -->
  