<section id="resume" class="resume resume-dark">
    <div class="container">
    
      <div class="section-title text-center" style="padding-top:10vh">
        <h2 class="h2-dark">Historique</h2>
        <p>Je m'appelle Viggo Casciano, et je suis une personne dévouée et ambitieuse actuellement en formation en alternance à l'IUT Lyon 1, spécialisée en informatique au sein du département IT. Mon objectif ultime est de devenir un informaticien compétent.</p>
      </div>
    
      <div class="row" data-aos="fade-up">
        <div class="col-lg-6">
          <h3 class="resume-title resume-title-dark">Résumé</h3>
          <div class="resume-item pb-0 resume-item-dark">
            <h4 class="h4-dark">Viggo Casciano</h4>
            <p><em>J'ai un an d'expérience dans le domaine de l'informatique au sein du département R&D chez Ensto Novexia.</em></p>
            <ul>
              <li>viggocasciano0301&#64;gmail.com</li>
            </ul>
          </div>
        
          <h3 class="resume-title resume-title-dark">Formation</h3>
          <div class="resume-item resume-item-dark">
            <h4 class="h4-dark">Diplôme universitaire de technologie en informatique</h4>
            <h5 class="h5-dark">2022 - 2023</h5>
            <p><em>IUT Lyon 1 Informatique, Villeurbanne, France 69100</em></p>
            <p>Je poursuis mes études dans cet IUT pour obtenir mon BUT. J'ai effectué mon stage au cours de ma deuxième année à l'IUT.</p>
          </div>
          <div class="resume-item resume-item-dark resume-title-dark">
            <h4 class="h4-dark">Baccalauréat</h4>
            <h5 class="h5-dark">2020 - 2021</h5>
            <p><em>Lycée Aiguerande, Belleville-sur-Saône, France 69220</em></p>
            <p>J'ai obtenu mon baccalauréat dans ce lycée. Je l'ai passé avec l'option "Mathématiques expertes" et un module d'informatique durant mon cursus pour apprendre et améliorer mes compétences en programmation.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title resume-title-dark">Expérience Professionnelle</h3>
          <div class="resume-item resume-item-dark">
            <h4 class="h4-dark">Alternance</h4>
            <h5 class="h5-dark">2023 - Présent</h5>
            <p><em>Ensto Novexia, Villefranche-sur-Saône 69400 & IUT Lyon 1 Informatique, Villeurbanne, France 69100</em></p>
            <ul>
              <li>Durant ma troisième année à l'IUT, j'ai dû faire une alternance, donc j'ai décidé de la faire avec l'entreprise ENSTO Novexia.</li>
              <li>Chez ENSTO Novexia, je travaille sur une interface homme-machine (IHM) sur un système embarqué.</li>
              <li>J'ai recréé toute l'IHM qu'ils avaient déjà sur ce système embarqué avec un autre langage afin de la rendre plus sécurisée.</li>
            </ul>
          </div>
          <div class="resume-item resume-item-dark">
            <h4 class="h4-dark">Stage</h4>
            <h5 class="h5-dark">Avril 2023 - Juillet 2023</h5>
            <p><em>Ensto Novexia, Villefranche-sur-Saône 69400</em></p>
            <ul>
              <li>Durant ma deuxième année à l'IUT, j'ai dû faire un stage pour obtenir mon diplôme, donc j'ai décidé de le faire avec l'entreprise ENSTO Novexia.</li>
              <li>La tâche que m'a confiée ENSTO Novexia était de recréer leur ancienne IHM avec un framework, pour la rendre plus sécurisée et facile à maintenir.</li>
              <li>Durant ce stage, ma mission était uniquement de faire une preuve de concept (POC) de cette IHM en utilisant un framework. Je n'avais donc qu'une petite partie de l'IHM à réaliser.</li>
            </ul>
          </div>
        </div>
      </div>
    
    </div>
  </section>