<!-- ======= About Section ======= -->
<div id="about" class="paddsection-1-dark">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg-dark">
            <div class="about-img">
              <img src="assets/img/me.jpg" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">Je suis <span class="viggo_span-dark">Viggo Casciano</span>, un aspirant développeur de logiciels de 21 ans avec une solide formation académique. Je suis titulaire d'un baccalauréat et d'un diplôme technique de deux ans.</p>
            <p class="separator">Ma passion pour le codage m'a conduit à devenir développeur full-stack. Je maîtrise bien les langages front-end comme HTML, CSS et JavaScript, ainsi que les langages back-end comme PHP, Python ou Typescript.
            Je suis également enthousiaste à l'idée d'élargir mes compétences grâce à un apprentissage continu, notamment en Node.js.
            Je crois en l'utilisation des frameworks de développement pour simplifier la maintenance du code et améliorer la sécurité des applications web. Je suis compétent en Symfony pour PHP et en Django pour Python,
            ce qui garantit que les projets sur lesquels je travaille sont à la fois efficaces et sécurisés.
            J'ai un solide bagage en développement de logiciels, grâce à ma formation en Java, C et Python. Parmi ceux-ci, c'est en Python et Rust que je me sens le plus à l'aise.
            Ce sont des langages polyvalents qui me permettent de concrétiser mes idées et de créer des solutions logicielles efficaces et performantes.
            </p>

            
            <!-- Button to download CV -->
            <a class="download-button" href="assets/CV_Viggo_Casciano.pdf" target="_blank" rel="noopener noreferrer">
              <div class="download-button-container-dark">
                <span>Télécharger mon CV</span>
                <i class="bi bi-arrow-right"></i>
              </div>
            </a>

          </div>

        </div>
      </div>
    </div>
  </div><!-- End About Section -->