  .resume-dark{
    background-color: #111111;
  }
  .resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .resume-title-dark{
    color:#8397ab;
  }
  
  .resume-item-dark{
    border-left: 2px solid #553755;
    padding: 0 0 20px 20px;
    margin-top: -2px;
    position: relative;
  }
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
  }
  .resume-item-dark::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #111111;
    border: 2px solid #553755;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color:#8b8b8b;
  }

.resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }