<app-header-section></app-header-section>

<section class="breadcrumbs bread-dark" *ngIf="project">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>{{ project.name }}</h2>
      <ol>
        <li><a id="text_1" routerLink="/" class="text-white no-underline">Accueil</a></li>
        <li><a id="text_2" routerLink="/#portfolio" class="text-white no-underline">Projets</a></li>
        <li>{{ project.name }}</li>
      </ol>
    </div>
  </div>
</section>

<!-- Portfolio Details Section -->
<section id="portfolio-details" class="portfolio-details" *ngIf="project">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-8">
        <div *ngIf="project.images.length > 1; else singleImage" class="portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide" *ngFor="let image of project.images">
              <img [src]="image" alt="{{ project.name }}">
            </div>
          </div>
          <div class="swiper-pagination swiper-light"></div>
        </div>
        <ng-template #singleImage>
          <div class="single-image-wrapper">
            <img [src]="project.images[0]" alt="{{ project.name }}" class="img-fluid">
          </div>
        </ng-template>
      </div>

      <div class="col-lg-4">
        <div class="portfolio-info">
          <h3>Informations sur le projet</h3>
          <ul>
            <li><strong>Catégorie</strong>: {{ project.categoryName }}</li>
            <li><strong>Client</strong>: {{ project.client }}</li>
            <li><strong>Date du projet</strong>: {{ project.date }}</li>
            <li><strong>URL du projet</strong>: 
              <a id="text_3" [href]="project.link" target="_blank">{{ project.link ? 'Voir le projet' : 'NON DISPONIBLE' }}</a>
            </li>
          </ul>
        </div>
        <div class="portfolio-description">
          <h2>Détails sur {{ project.name }}</h2>
          <p>{{ project.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer-section class="custom-footer-background"></app-footer-section>
