<div>
    <!-- Vous pouvez ajouter un header, une navbar, etc. ici -->
    <app-header-section></app-header-section>
    <app-hero-section></app-hero-section>
    <app-about-section></app-about-section>
    <app-service-section></app-service-section>
    <app-project-section></app-project-section>
    <app-techno-section></app-techno-section>
    <app-skills-section></app-skills-section>
    <app-resume-section></app-resume-section>
    <app-footer-section></app-footer-section>
    <!-- Vous pouvez ajouter d'autres sections ici -->
  </div>
  