#footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #footer .socials-media {
    width: 100%;
  }
  
  #footer .socials-media ul {
    display: inline-block;
    float: none;
    margin: 0 0 20px 0;
  }
  
  #footer .socials-media ul li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #footer .socials-media ul li a {
    font-size: 24px;
    color: #999;
    letter-spacing: 0.1em;
    font-weight: 500;
    background: transparent;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
  }
  
  #footer .socials-media ul li a:hover {
    color: #f39ef3;
    transition: all 0.5s ease-in-out 0s;
  }
  
  #footer p {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-top: 0;
    text-transform: uppercase;
  }
  
  .credits {
    font-size: 13px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #footer .socials-media ul li {
      margin-right: 0;
      margin-left: 0;
      float: none;
      display: inline-block;
    }
  }

  @media (max-width: 767px) {
    #footer .socials-media ul li {
      margin-right: 0;
      margin-left: 0;
      float: none;
      display: inline-block;
    }
  }
  
  @media (max-width: 600px) {
    #footer .socials-media ul li {
      margin-right: 0;
      margin-left: 0;
      float: none;
      display: inline-block;
    }
  }
  

  @media (max-width: 480px) {
    #footer .socials-media ul li {
      margin-right: 0;
      margin-left: 0;
      float: none;
      display: inline-block;
    }
  }

  @media (max-width: 320px) {
    #footer .socials-media ul li {
      margin-right: 0;
      margin-left: 0;
      float: none;
      display: inline-block;
    }
  }